.post {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background: #FAF9F6;
    border-radius: 2%;
  }

.text {
    padding: 1px;
    width: 400px;
}


 .posttitle {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.date {
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image>img {
    width: 400px; 
    height: 400px; 
    object-fit: cover;
    border-radius: 2%;
  }

.likeBtn{
    font-size: 20px;
    margin-left: 15px;
    background-color: transparent;
    border-radius: 6px;
    border-color: transparent;
    margin-bottom: 20px;
}

.comments{
    width: 350px;
    margin-left: 12px;
}
.commentBtn {
    font-family: 'Lora', sans-serif;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #D3D3D3;
    border-left: 0;
    border-radius: 0px 10px 10px 0px;
    height: 29px;
    color:#615f5f;
  }

  .input {
    border-color: transparent;
    border: 1px solid #D3D3D3;
    border-right: 0;
    border-radius: 10px 0px 0px 10px;
    margin-left: 20px;
    height: 25px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Lora', sans-serif;
  }